Source: freenginx
Section: httpd
Priority: optional
Maintainer: Hiroaki Nakamura <hnakamur@gmail.com>
Build-Depends: debhelper (>= 9~),
               dpkg-dev (>= 1.16.1~),
               quilt (>= 0.46-7~),
               lsb-release,
               libssl-dev (>= 0.9.7),
               libpcre3-dev,
               zlib1g-dev,
               libluajit-5.1-dev,
               libexpat1-dev,
               libxslt1-dev,
               libgd-dev,
               libgeoip-dev,
               libmhash-dev,
               libmaxminddb-dev,
               libperl-dev
Standards-Version: 3.9.8.0
Homepage: http://freenginx.org

Package: freenginx
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, lsb-base (>= 3.0-6), adduser
Provides: httpd
Description: high performance web server
 freenginx is an effort to preserve free and open development of
 nginx [engine x], an HTTP and reverse proxy server, a mail proxy
 server, and a generic TCP/UDP proxy server, originally written
 by Igor Sysoev.

Package: freenginx-dbg
Architecture: any
Section: debug
Priority: extra
Depends: ${misc:Depends}, nginx (= ${binary:Version})
Description: freenginx debug symbols
 This package contains the debugging symbols for freenginx.
